#nav {
    width: 300px;
    background: grey;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    background: red url("../images/down.png") 270px 10px no-repeat;
}

/* ul li*/
ul {
    background: grey;
}

ul li {
    height: 30px;
    list-style: none;
    text-indent: 1em;
    background-image: url("../images/down.png");
    background-repeat: no-repeat;
    background-position: 236px 2px;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: black;
}

a:hover {
    color: orange;
    text-decoration: underline;
}
